<div class="navbar-area">
    <div class="xton-responsive-nav">
        <div class="container">
        </div>
    </div>

    <div class="xton-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="index">
                    <img src="~/Assets/img/MeStoreLogo.png" class="main-logo" alt="logo" width="60%">
                </a>
                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="home" asp-action="index" class="nav-link active">Trang chủ </a>
                           
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">Sản phẩm <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="index-4.html" class="nav-link">Home 4</a></li>

                                <li class="nav-item"><a href="index-5.html" class="nav-link">Home 5</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">Về chúng tôi <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="index-4.html" class="nav-link">Home 4</a></li>

                                <li class="nav-item"><a href="index-5.html" class="nav-link">Home 5</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Blog <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="index-4.html" class="nav-link">Home 4</a></li>

                                <li class="nav-item"><a href="index-5.html" class="nav-link">Home 5</a></li>
                            </ul>
                        </li>
                       
                    </ul>

                    <div class="others-option">
                        <div class="option-item">
                            <div class="user-btn-box">
                                <i class='bx bxs-user fs-4'></i>
                            </div>
                        </div>
                        <div class="option-item">
                            <div class="cart-btn">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i class='bx bx-shopping-bag'></i><span>3</span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
