
@{
    ViewData["Title"] = "Checkout_failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container mt-5">
        <div class="text-center mb-md-5">
            <h1 class="display-7 text-success">Thanh Toán Thất Bại!</h1>
            <p class="lead">Vui lòng thanh toán lại.</p>
            <img src="../Assets/img/failure_checkout.png" alt="failure">
            <p></p>
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Quay lại trang chủ</a>
        </div>
    </div>
</div>


